<a href="https://colab.research.google.com/github/Nishad5990/pyhton.rprohraming/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)

In [1]:
h=int(input("Enter the hours: "))*3600
m=int(input("Enter the mins: "))*60

t=h+m

print("total seconds = ",t)

Enter the hours: 1
Enter the mins: 1
total seconds =  3660

Q7.)

In [15]:

r=int(input("Enter the amount in paise"))

amt_1 = r//100
amt_2= r%100
print ("the converted amount is",(amt_1),"Rupees and ", amt_2,"paise")

Enter the amount in paise720
the converted amount is 7 Rupees and  20 paise

Q3.)

In [64]:
for i in range (1,6):
  for j in range (i,i+i):
    print(j%2,end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

Q8)

In [40]:
r= int(input('Enter the number of rows :'))
for i in range (r+1):
  for j in range (1, i+2):
    print(j, end="")
print()

Enter the number of rows :5
112123123412345123456

In [ ]:
#Q.5)

In [42]:
class maths:
  def __init__ (self,a,b):
    self.a=a
    self.b=b
  def add(self):
    return self.a+self.b
  def div(self):
    return self.a/self.b
  def sub(self):
    return self.a-self.b
  def  mul(self):
    return self.a*self.b

In [43]:
a=maths(20,30)

In [44]:
a.add()

50

In [45]:
a.sub()

-10

In [47]:
a.mul()

600

In [48]:
a.div()

0.6666666666666666

Q.6)

In [63]:
s=input("Enter the word")
a=0
z=0
for i in s:
  if s.isdigit():
    a=a+1
  elif s.isalpha():
    z=z+1
  else:
    pass
  print('the number of letters are :',a)
  print('the number of digits are :',z)

Enter the wordhello8978
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0
the number of letters are : 0
the number of digits are : 0